## Predict survival of titanic passangers

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train.dtypes
print(train.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
train.Survived = train.Survived.astype(object)

In [6]:
train.describe()

/Users/Harmeekh/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3823: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000         NaN    0.000000    0.000000    7.910400
50%     446.000000    3.000000         NaN    0.000000    0.000000   14.454200
75%     668.500000    3.000000         NaN    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [7]:
train.describe(include = [object])

        Survived                       Name   Sex Ticket    Cabin Embarked
count        891                        891   891    891      204      889
unique         2                        891     2    681      147        3
top            0  Van der hoef, Mr. Wyckoff  male   1601  B96 B98        S
freq         549                          1   577      7        4      644

In [8]:
train.Age.groupby(train.Survived).mean()

Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

In [9]:
train.Fare.groupby(train.Survived).mean()

Survived
0    22.117887
1    48.395408
Name: Fare, dtype: float64

In [10]:
train.SibSp.groupby(train.Survived).mean()

Survived
0    0.553734
1    0.473684
Name: SibSp, dtype: float64

In [11]:
train.Parch.groupby(train.Survived).mean()

Survived
0    0.329690
1    0.464912
Name: Parch, dtype: float64

In [12]:
train.Sex.groupby(train.Survived).value_counts()

Survived  Sex
0         male      468
          female     81
1         female    233
          male      109
Name: Sex, dtype: int64

In [13]:
train.Pclass.groupby(train.Survived).value_counts()

Survived  Pclass
0         3         372
          2          97
          1          80
1         1         136
          3         119
          2          87
Name: Pclass, dtype: int64

In [40]:
X_train = train[['Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Embarked']]
X_train.is_copy = False

In [42]:
def Embarked_to_numeric(x):
    if x=='S':
        return 1
    if x=='Q':
        return 2
    if x=='C':
        return 3
    else:
        return 4

In [44]:
X_train.Embarked = X_train.Embarked.apply(Embarked_to_numeric)

In [45]:
X_train.head()

   Pclass     Sex   Age  SibSp  Parch     Fare  Embarked
0       3    male  22.0      1      0   7.2500         1
1       1  female  38.0      1      0  71.2833         3
2       3  female  26.0      0      0   7.9250         1
3       1  female  35.0      1      0  53.1000         1
4       3    male  35.0      0      0   8.0500         1

In [ ]:
def Sex_to_numeric(x):
    if x=='male':
        return 1
    if x=='female':
        return 2
    else:
        return 3

In [17]:
Lastnames = train['Name'].str.split(',', expand = True)[0]

In [18]:
type(Lastnames)

pandas.core.series.Series

In [24]:
train = train.join(Lastnames)
train = train.rename(columns={'0': 'LastName'})

In [29]:
train = train.rename(columns={0: 'LastName'})

In [35]:
train.LastName.nunique()

667